/* Login */
.login-page-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}

.login-container {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  /* padding-bottom: 20px; */
  border-radius: 10px;
  width: 40%;
}

.login-website-logo {
  width: 230px;
  align-self: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.label {
  color: #ffffff;
  margin-bottom: 5px;
}

.input {
  background-color: transparent;
  border: 1px groove #b6c5ff;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ffffff;
}

.login-submit-btn {
  background-color: #4f46e5;
  border: 0px;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 768px) {
  .login-container {
    width: 85%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
  }

  .login-website-logo {
    width: 150px;
  }

  .label {
    font-size: 16px;
  }
}

.error {
  color: #ff0b37;
}

.sample-username {
  color: #ffffff;
}

.credentials {
  color: #4f46e5;
  font-size: 18px;
}
